<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insta</title>
</head>
<body>
    <h2> @<%= data.name %> </h2>
    <button>Follow</button>
    <button>Message</button>
    <p> Followers : <%= data.followers %> &nbsp; &nbsp; Following: <%= data.following %></p> 
    <hr>
    <% for(let p of data.posts){ %>
        <img src="<%= p.image %>" alt="img">
        <p> Likes : <%= p.likes %> &nbsp; &nbsp; Comments: <%= p.comments %></p> 
     <% } %>
</body>
</html>